<!-- Begin id menupanel -->
<div data-role="panel" id="menupanel" data-position-fixed="true" data-display="overlay" data-swipe-close="true" data-dismissible="true" data-theme="a">

    <div class="panel-content">
        <br>
        <ul>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/info2.svg" alt="Program D">About the Association</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/network.svg" alt="Program D">Networks</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/benefits.svg" alt="Program C">Benefits and Services</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/volunteer.svg" alt="Chancellor">Volunteering</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/learn.svg" alt="Chancellor">Learning</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/travel.svg" alt="Board">Travel Club</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/news.svg" alt="Speaker D">News and Events</a></li>

        </ul>

        <h4><i>Contact Us</i></h4>

        <div class="gn-5">
            <a href="tel:1+910-691-9838" data-role="button" data-icon="phone" data-mini="true" data-theme="b" >Southern Alumni</a>
        </div>

    </div><!-- /panel-content -->
</div><!-- /menupanel -->

<!-- Begin id gradpanel -->
<div data-role="panel" id="gradpanel" data-position="right" data-position-fixed="true" data-display="overlay" data-swipe-close="true" data-dismissible="true" data-theme="a">

    <div class="panel-content">
        <br>

        <ul>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/blog.svg" alt="Degrees">Daily Blog</a></li>
        </ul>


        <ul>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/facebook.svg" alt="Facebook">Facebook</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/google.svg" alt="Google+">Google+</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/linkedin.svg" alt="LinkedIn">LinkedIn</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/pinterest.svg" alt="Pinterest">Pinterest</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/twitter.svg" alt="Twitter">Twitter</a></li>

        </ul>

        <br>
    </div>
</div><!-- /infopanel -->

<!-- Begin id infopanel -->
<div data-role="panel" id="infopanel" data-position="right" data-position-fixed="true" data-display="overlay" data-swipe-close="true" data-dismissible="true" data-theme="a">

    <div class="panel-content">
        <br>
        <ul>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/events.svg" alt="Events">Tech Reunions</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/archives.svg" alt="Cmte">View Archives</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/board.svg" alt="Credits">Current Students</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/parents.svg" alt="Credits">Parent's Association</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/holder.svg" alt="Privacy">Giving to Southern</a></li>
        </ul>

        <h4><i>&copy; 2013</i></h4>
        <div class="gn-5">
            <a href="http://www.solocal.mobi" data-role="button" data-icon="page" data-mini="true" data-theme="a" >Solocal, Inc.</a>
            <a href="tel:1+910-691-9838" data-role="button" data-icon="phone" data-mini="true" data-theme="a" >Call</a>
            <a href="mailto:smann@solocal.mobi" data-role="button" data-icon="email" data-mini="true" data-theme="a" >Email</a>
        </div>

    </div>
</div><!-- /infopanel -->

<!-- Begin HEADER -->
<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="none">

    <!-- Begin NavBar -->
    <div data-role="navbar" class="nav-special" data-grid="b" data-theme="none">
        <ul>
            <li><a href="#menupanel" data-role="button" id="menutop2" data-icon="custom" data-iconpos="notext" data-theme="a"></a></li>
            <li><a href="#gradpanel" data-role="button" id="social" data-icon="custom" data-theme="a"></a></li>
            <li><a href="#infopanel" data-role="button" id="info1" data-icon="custom" data-iconpos="notext" data-theme="a"></a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /header -->

<!-- Begin CONTENT -->
<div data-role="content">
    <br>

    <div class="gn-5"><img src="img/alumni1.svg"  alt="Alumni" ></div>

    <br>
    <br>

    <form action="" method="" data-mini="true" class="ui-body ui-body-b ui-corner-all">

        <div style="padding:10px 20px;">

            <div class="gn-2"><h4>Please Login</h4></div>

            <label for="un" class="ui-hidden-accessible">Username:</label>
            <input type="text" name="user" id="un" value="" placeholder="username" data-theme="d" />

            <label for="pw" class="ui-hidden-accessible">Password:</label>
            <input type="password" name="pass" id="pw" value="" placeholder="password" data-theme="d" />

            <a href="account.html" data-role="button" data-theme="b" data-mini="true">Login</a>

            <div class="center"><p><i>Not Registered yet?</i></p></div>
            <a href="#" data-role="button" data-mini="true" data-theme="a">Create New Account</a>
        </div>

    </form>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div data-role="popup" id="popupGlance" data-theme="a" style="max-width: 400px; min-width: 275px;" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1>At a Glance</h1>
        </div>

        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
            <div class="gn-2"><h5>Doctoral Hooding</h5></div>
            <div class="glance">
                <ul>
                    <li><strong>Date:</strong> June 6, 2013</li>
                    <li><strong>Location:</strong> Rockwell Cage</li>
                    <li><strong>Time:</strong> 11:30 AM to 1:30 PM</li>
                    <li><strong>Admission Begins:</strong> 10:30 AM</li>
                </ul>
            </div>

            <div class="gn-2"><h5>Commencement Ceremony</h5></div>
            <div class="glance">
                <ul>
                    <li><strong>Date:</strong> June 7, 2013</li>
                    <li><strong>Location:</strong> Killian Court</li>
                    <li><strong>Time:</strong> 10:00 AM</li>
                    <li><strong>Admission Begins:</strong> 7:30 AM</li>
                </ul>
            </div>

            <div class="gn-5">
                <a href="#" data-role="button" data-rel="back" data-icon="delete" data-mini="true" data-theme="a" >Close</a>
            </div>

        </div><!-- /popcontent -->

    </div><!-- /popup -->

</div><!-- /content -->