<!-- Begin id socialpanel -->
<div data-role="panel" id="socialpanel" data-position="right" data-position-fixed="true" data-display="overlay" data-swipe-close="true" data-dismissible="true" data-theme="a">

    <div class="panel-content">
        <br>
        <ul>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/facebook.svg" alt="Facebook">Facebook</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/google.svg" alt="Google+">Google+</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/linkedin.svg" alt="LinkedIn">LinkedIn</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/pinterest.svg" alt="Pinterest">Pinterest</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/twitter.svg" alt="Twitter">Twitter</a></li>


        </ul>

    </div><!-- /panel-content -->
</div><!-- /menupanel -->

<!-- Begin HEADER -->
<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="c">
    <h1>2013 - Michael Uzquiano</h1>
    <!-- Begin NavBar -->
    <div data-role="navbar" class="nav-special-2" data-grid="c" data-theme="c">
        <ul>
            <li><a href="news.html" data-transition="slide" id="back1" data-icon="custom" data-theme="a">News</a></li>
            <li><a href="#popupOfficers" data-rel="popup" data-transition="slidedown" data-position-to="window" data-role="button" id="officers" data-icon="custom" data-iconpos="notext" data-theme="a">Class</a></li>
            <li><a href="#" data-role="button" id="photos3" data-icon="custom" data-theme="a">Photos</a></li>
            <li><a href="#socialpanel" data-role="button" id="social" data-icon="custom" data-iconpos="notext" data-theme="a">Social</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /header -->

<div data-role="content" class="newsitem" data-theme="d">

    <h2>{{newsitem.headline.long}}</h2>

    <img src="/preview/{{newsitem._doc}}/fullview?size=512" style="width: 100%">

    <p>
        {{newsitem.body.long}}
    </p>

</div>
