<div data-role="popup" data-overlay-theme="a" data-theme="a" style="max-width:400px;" class="ui-corner-all">

    <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1 align='center'>{{candidate.firstName}} {{candidate.lastName}}</h1>
    </div>

    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
        <h3 class="ui-title">Accomplishments:</h3>
        <p style="white-space:normal">{{candidate.accomplishments}}</p>
        <h3 class="ui-title">Ambitions:</h3>
        <p style="white-space:normal">{{candidate.ambitions}}</p>
        <fieldset class="ui-grid-a">
            <div class="ui-block-a"><button type="submit" data-theme="b">Gifting</button></div>
            <div class="ui-block-b"><button type="submit" data-theme="b">Social</button></div>
        </fieldset>
        <div class="gn-5">
            <a href="#" data-role="button" data-rel="back" data-icon="delete" data-mini="true" data-theme="a" >Cancel</a>
        </div>
    </div>

</div>