    <div data-role="header" class="nav-special" data-position="fixed" data-tap-toggle="false" data-theme="b">
        <h1>Michael Uzquiano</h1>

        <div data-role="navbar" class="nav-special" data-theme="b">
            <ul>
                <li><a href="account.html" data-transition="slide" id="back1" data-icon="custom" data-theme="a"></a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /header -->

    <div data-role="content">

        <div class="gn-2"><img src="photos/michael.jpg" alt="Person"></div>
        <ul data-role="listview" data-inset="true" data-icon="false" data-theme="d" data-divider-theme="b">

            <li data-role="list-divider">Class Information</li>
            <li>
                <p><strong>Class:</strong> 2013</p>
                <p><strong>Study:</strong> School of Engineering</p>
                <p><strong>Degree:</strong> Bachelor of Science</p>
                <p><strong>Major:</strong> Electrical Engineering and Computer Science</p>


            </li>

            <li data-role="list-divider">Associations</li>
            <li>
                <p><strong>Assistive Technology Club</strong></p>
                <p><strong>ACExplore</strong></p>
                <p><strong>American Red Cross</strong></p>

            </li>

        </ul>

        <ul data-role="listview" data-inset="true" data-icon="false" data-theme="d" data-divider-theme="b">

            <li data-role="list-divider">Contact Information</li>
            <li>
                <p><strong>123 Anywhere Ave.</strong></p>
                <p><strong></strong> </p>
                <p><strong>San Antonio, TX</strong></p>
                <p><strong>11111-0000 </strong></p>
                <br>

                <fieldset class="ui-grid-a">

                    <div class="ui-block-a"><a href="#" data-role="button" data-icon="phone" data-mini="true" data-theme="b" >Call</a></div>
                    <div class="ui-block-b"><a href="#" data-role="button" data-icon="email" data-mini="true" data-theme="b" >Email</a></div>
                    <div class="ui-block-a"><a href="#" data-role="button" data-icon="facebook" data-mini="true" data-theme="a" >Facebook</a></div>
                    <div class="ui-block-b"><a href="#" data-role="button" data-icon="twitter" data-mini="true" data-theme="a" >Twitter</a></div>

                </fieldset>

                <br>

            </li>

        </ul>

        <ul data-role="listview" data-inset="true" data-icon="false" data-theme="d" data-divider-theme="b">

            <li data-role="list-divider">Current Employment</li>
            <li>
                <p><strong>President</strong></p>
                <p><strong>CloudCMS</strong> </p>
                <p><strong>San Antonio, TX</strong></p>
                <p><strong>11111-0000 </strong></p>
                <br>

            </li>

        </ul>

        <ul data-role="listview" data-inset="true" data-icon="false" data-theme="d" data-divider-theme="b">

            <li data-role="list-divider">Current or Recent Project #1</li>
            <li>
                <p><strong></strong></p>
                <p><strong></strong> </p>
                <p><strong></strong></p>

                <br>

            </li>

        </ul>

        <ul data-role="listview" data-inset="true" data-icon="false" data-theme="d" data-divider-theme="b">

            <li data-role="list-divider">Current or Recent Project #2</li>
            <li>
                <p><strong></strong></p>
                <p><strong></strong> </p>
                <p><strong></strong></p>

                <br>

            </li>

        </ul>

        <ul data-role="listview" data-inset="true" data-icon="false" data-theme="d" data-divider-theme="b">

            <li data-role="list-divider">Current or Recent Project #3</li>
            <li>
                <p><strong></strong></p>
                <p><strong></strong> </p>
                <p><strong></strong></p>

                <br>

            </li>

        </ul>

    </div>

