DIV.news
{
    background-color: white !important;
}

DIV.news UL LI.listheader
{
    text-align: center;
}

DIV.news UL LI.listitem IMG
{
    margin: 10px;
    border: 1px solid #777;
    border-radius: 8px;
    max-height: 100px;
    max-width: 150px;
    text-align:center;
}

DIV.news UL LI.listitem
{
    min-height: 100px !important;
    padding-left: 180px !important;
}

DIV.news UL LI.listitem P
{
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}


/******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/

DIV.newsitem
{
    background-color: white !important;
}

DIV.newsitem H2
{
    background-color: white !important;
}

DIV.newsitem IMG
{
    border: 1px solid #777;
    border-radius: 8px;
}

DIV.newsitem P
{
    padding-top: 10px;
    white-space: normal;
    font-size: 15px;
    color: #222;
    white-space:pre-wrap;
}


/** Prevents header from overlapping text on first load **/
.ui-header {
    height: 98px;
}
